* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

#top {
  height: 100vh;
  min-height: 768px;
  width: 100%;
  background: url(../image/slider.jpg) center / cover no-repeat;
}

/* -------------HEADER------------- */
.main-menu {
  display: flex;
  list-style: none;
  justify-content: center;
}
header {
  width: 100%;
  padding: 70px 0 10%;
}
header > nav {
  width: 65%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.main-menu > li:first-child {
  display: none;
}
.main-menu > li {
  font-size: 20px;
  padding: 20px 10px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.main-menu > li:hover {
  color: #2c2c2c;
  text-decoration: overline;
  transition: 0.2s ease;
}
#menu {
  color: #fff;
  font-size: 29px;
  display: none;
}

/* -----------MAIN------------------- */

.slider {
  max-width: 1020px;
  margin: 0 0 0 40%;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  user-select: none;
  justify-self: center;
}
.slider-center {
  grid-column: 1/2;
}
.slider-center .future {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  line-height: 40px;
}
.slider-center h1 {
  font-weight: 900;
  font-size: 54px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 74px;
  padding-bottom: 43px;
}
.slider-center p {
  color: #ffffff;
  font-family: Muli;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 47px;
}

.slider-button a {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 36px;
  background-color: #ffffff;
  padding: 16px 38px;
}
.slider-button a:hover {
  background-color: #6e6c6c;
  color: #ffffff;
}
.slider-button i {
  padding-left: 15px;
}

.slider-right {
  justify-self: self-end;
  align-self: center;
}
.slider-right button {
  width: 9px;
  height: 8px;
  background-color: #414141;
  border: none;
  margin: 5px;
  cursor: pointer;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.slider-right .slider-right__active {
  border: 2px solid #a6a6a6;
}

/* ------------------------service------------------ */

#service {
  /* Style for "Service" */
  width: 60%;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 4px 35px rgba(218, 218, 218, 0.77);
  position: relative;
  top: -85px;
}
.service-left {
  background: url(../image/1795122.jpg) center / cover no-repeat;
  padding: 120px 30px 0;
  position: relative;
  max-width: 359px;
  min-width: 300px;
  overflow: hidden;
}

.service-left h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  padding-bottom: 50px;
}
.service-left p {
  color: #ffffff;
  line-height: 24px;
  font-family: "Muli";
  padding-bottom: 200px;
}
.service-left__bottom {
  position: absolute;
  left: 0;
  bottom: 30px;
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0 36px 36px 0;
  background-color: #ffffff;
  padding: 16px;
}
.service-left__bottom:hover {
  background-color: #6e6c6c;
  color: #ffffff;
  transition: 0.2s ease;
}

.service-left__img {
  position: absolute;
  z-index: 1;
  right: -22px;
  bottom: -35px;
}
.service-left__img img {
  height: 100%;
  width: 100%;
}
.service-right {
  display: flex;
  /* flex-wrap: wrap; */
  background-color: #fff;
  justify-content: center;
}
.group1,
.group2 {
  /* flex-basis: 360px; */
  padding-top: 120px;
}
.categories {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 0 30px 50px;
}
.categories__img {
  justify-self: center;
  align-self: flex-start;
  height: 100%;
}
.categories h3 {
  padding-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.categories p {
  font-size: 16px;
  font-family: "Muli";
  line-height: 21.95px;
  color: #757575;
}

/* ----------------company---------------- */

#company {
  background: url(../image/human.jpg) bottom / contain no-repeat;
  height: 542px;
  margin-left: 3%;
}
.company-group {
  max-width: 725px;
  margin-left: 37.7%;
}
.value {
  position: relative;
}
.value h3 {
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.value p {
  font-size: 16px;
  font-family: "Muli";
  line-height: 21.95px;
  color: #757575;
}
.values {
  padding-bottom: 60px;
}

.value-img {
  height: 100%;
  padding-left: 65px;
}
.value-img2 {
  display: none;
}
.double {
  position: relative;
}
.value-text span {
  color: #009688;
  font-size: 39px;
  position: absolute;
  top: 0px;
  left: 85px;
}
.value-text .p1 {
  max-width: 190px;
  position: absolute;
  top: 65px;
  left: 0;
}
.value-text .p2 {
  max-width: 190px;
  position: absolute;
  top: 257px;
  left: 109px;
}
.value-text .p3 {
  max-width: 190px;
  position: absolute;
  top: 126px;
  left: 515px;
}
.text__company {
  position: absolute;
  top: 50px;
  left: 300px;
}
.text__company h3 {
  font-size: 26px;
  color: #009688;
  padding-bottom: 0px;
}

/* -----------------------Experts------------------ */
#experts {
  background: url(../image/bg2.jpg) center / cover no-repeat;
  text-align: center;
}
#experts h2 {
  padding-top: 120px;
  font-size: 40px;
  font-weight: Bold;
  color: #fff;
  text-transform: uppercase;
}

#experts p {
  padding-top: 18px;
  line-height: 24px;
  font-size: 14.34;
  font-family: "Muli";
  color: #fff;
}
#experts button {
  background: #fff;
  border: 2px solid #fff;
  padding: 15px 50px;
  border-radius: 25px;
  color: #009688;

  margin: 50px 30px;
  cursor: pointer;
}
#experts .experts__button {
  background: none;
  color: #fff;
}
#experts button:hover {
  transition: all 0.3s ease;
  color: #fff;
  background: #03554d;
}
/* ------------function---------------- */

#mid {
  background: url(../image/bg3.jpg) right bottom / cover no-repeat;
  padding-bottom: 25px;
}
#function {
  text-align: center;
  line-height: 25px;
  max-width: 1160px;
  margin: 0 auto;
}

#function p {
  font-family: "Muli";
  font-size: 14px;
  line-height: 35px;
}
#function h2 {
  padding: 80px 0 25px;
  font-size: 22px;
  font-weight: bold;
}
#function h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}

.function-mid {
  margin: 5% 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px 30px;
  /* width: 1158px; */
}
.function-mid__group {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.group-img {
  width: 100%;
}
.group-text {
  text-align: start;
}

/* -----------------blog-------------- */

#blog-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.blog-item-text {
  grid-column: 2/5;
}
.blog-item-text h3 {
  font-size: 22px;
  font-weight: bold;
  color: #444444;
  padding: 75px 0 32px;
}
.blog-item-text p {
  font-size: 14px;
  font-family: "Muli";
  color: #757575;
  padding-bottom: 120px;
}
.blog-img-container,
.blog-item-text {
  justify-self: center;
  text-align: center;
  align-self: center;
}

.blog-img-container {
  padding: 9px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 116px;
  text-align: left;
}
.blog-img-container:nth-child(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.blog-img-container:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/3;
}
.blog-img-container:nth-child(4) {
  grid-column: 4/5;
  grid-row: 2/3;
}
.blog-img-container:nth-child(5) {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-bottom: 200px;
}
.blog-img-container:nth-child(6) {
  grid-column: 3/4;
  grid-row: 3/4;
  margin-bottom: 200px;
}
.blog-img-container:nth-child(7) {
  grid-column: 4/5;
  grid-row: 3/4;
  margin-bottom: 200px;
}

/* .blog-img {
  width: 100%;
} */
.blog-img-desc {
  position: absolute;
  bottom: -100px;
}
.blog-img-desc div {
  width: 311px;
  height: 188px;
  background-color: #fff;
  padding: 20px 15px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #d3d2d2, rgba(0, 0, 0, 0)) 1 100%;
}
.blog-img-desc > div a {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: #444444;
}
.blog-img-desc > div a:hover {
  color: #009688;
  transition: all 0.3s ease;
}
.blog-img-desc > div p:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  color: #000;
  padding: 10px 0 20px;
}
.blog-img-desc > div p:nth-child(3) {
  font-size: 13px;
  font-family: "Muli";
  color: #757575;
}
/* -------------twiter--------------- */
#twiter {
  background-color: #009688;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  align-items: center;
}
.twiter-img {
  padding: 0 50px;
}
.twiter-text p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.twiter-text a {
  text-decoration: none;
  color: #fff;
}
.twiter-text a:hover {
  text-decoration: underline;
}
/* --------------------------contacts------------------ */
#contacts {
  background-color: #313131;
}
.contacts__position {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  align-items: stretch;
  padding: 85px 0;
}
.contacts__position > .contact {
  flex-basis: 285px;
  margin-bottom: 30px;
}
.contacts__position > .contact h4 {
  font-size: 14px;
  color: #fff;
  padding-bottom: 35px;
}

.contact:first-child > .news {
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
}
.news > .news-img {
  padding-right: 15px;
  cursor: pointer;
}
.news > .news-img img {
  width: 100%;
}
.news > .news-text {
  color: #fff;
  font-family: "Muli";
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
}
.news > .news-text p:last-child {
  font-size: 10px;
  color: #6b6b6b;
}
.contact > .contact-links {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.contact > .contact-links > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact:nth-child(2) > .contact-links > div > a {
  align-items: flex-start;
  text-decoration: none;
  color: #969595;
  padding: 0 34px 25px 0;
}
.contact:nth-child(2) > .contact-links > div > a:hover {
  color: #fff;
}
.contact:nth-child(3) p {
  font-family: "Muli";
  font-size: 13px;
  color: #969595;
  line-height: 25px;
  padding-bottom: 25px;
  width: 90%;
}
.contact:nth-child(3) p:last-child {
  font-size: 12px;
  color: #6b6b6b;
  padding-top: 15px;
}

.contact:nth-child(3) form input {
  padding: 10px;
  font-family: "Muli";
  width: 75%;
  border: none;
}
.contact:nth-child(3) form input::placeholder {
  color: #9e9e9e;
}
.contact:nth-child(3) form button {
  padding: 10px;
  margin: 5px;
  background-color: #009688;
  border: none;
  color: #fff;
}
.contact:nth-child(3) .messenger {
  display: flex;
  justify-content: flex-start;
}

.contact:nth-child(3) .messenger a {
  background-color: #2e2e2e;
  font-size: 15px;
  color: #9e9e9e;
  width: 36px;
  padding: 10px;
  margin-right: 9px;
  text-align: center;
}

.contact:nth-child(3) .messenger a:hover {
  background-color: #31aae2;
  color: #fff;
}

.contact:last-child p {
  font-family: "Muli";
  font-size: 13px;
  color: #969595;
  line-height: 25px;

  width: 100%;
}
.contact:last-child hr {
  background-color: #6b6b6b4d;
  border: none;
  height: 1px;
  width: 100%;
  margin: 15px 0;
}
.contact:last-child ul {
  list-style: none;
}

.contact:last-child .icon {
  width: 16px;
  height: 16px;
  float: left;
  background: url(../image/mail.png) no-repeat;
}

.contact:last-child .email .icon {
  cursor: pointer;
  background-position: 0 3px;
}

.contact:last-child .phone .icon {
  cursor: pointer;
  background-position: 0 -40px;
}

.contact:last-child .location .icon {
  cursor: pointer;
  background-position: 0 -86px;
}
.contact:last-child .text {
  padding-left: 30px;
}
.contact:last-child a {
  text-decoration: none;
  font-size: 13px;
  color: #969595;
  font-family: "Muli";
}
.contact:last-child .location {
  font-size: 13px;
  color: #969595;
  font-family: "Muli";
}
.contact:last-child a:hover {
  color: #fff;
}
/* -------------footer------------ */
#footer {
  border-top: 1px solid #707070;
  background-color: #292929;
  color: #6b6b6b;
  padding: 30px;
}
#footer .footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-nav li {
  margin-left: 15px;
}
.footer-nav a {
  color: #6b6b6b;
  text-decoration: none;
}
.footer-nav a:hover {
  color: #fff;
}
